{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header class="nav-bar">
            <a href="{% url 'home' %}" class="logo-link"><h1 class="logo">Project394</h1></a>        
            <div class="nav-links">
                <ul>
                    <a href="{% url 'logout' %}"><li>Logout</li></a>
                </ul>
            </div>
        </header>
    </body>
</html>
