{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'dashboard.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/generator-form.css' %}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    </head>
    <body>
        <header class="nav-bar">
            <a href="{% url 'home' %}" class="logo-link"><h1 class="logo">Project394</h1></a>        
            <div class="nav-links">
                <ul>
                    <a href="{% url 'dashboard' %}"><li>Create New List</li></a>
                    <a href="{% url 'items' %}"><li>Current Trip</li></a>
                    <a href="{% url 'saved_trips' %}"><li>Saved Trips</li></a>
                    <a href="{% url 'logout' %}" data-page="logout">
                        <li>Log out <i class="fas fa-sign-out-alt"></i></li>
                    </a>     
                </ul>
            </div>
        </header>
        <div class="main-container">
            <div class="saved-Trips-container">
                <h1> Here are your Trips </h1>
                <br>
                {% block content %}
                    {% for trip in trips %}
                    <!-- Testing to make sure it prints trip.trip_userID and user.username for debugging purposes-->
                    <h2>{{ trip.trip_userID }}</h2>
                    <h1>{{ user.username }}</h1>
                        <!-- If statement to print out only the signed in users trips-->
                        {% if trip.trip_userID == user.username %}
                        <!-- have also tried {% if {{ trip.trip_userID }} == {{ user.username }} %} -->
                        <!-- have also tried {% if '{{ trip.trip_userID }}' == '{{ user.username }}' %} -->
                        <!-- have also tried {% if {{ 'trip.trip_userID' }}' == {{ 'user.username' }} %} -->
                        <!-- have also tried {% if 'trip.trip_userID' == 'user.username' %} -->

                            <h2>{{ trip.trip_destination }}</h2>
                            <ul>
                            <li> Days of trip: {{ trip.length_of_trip }}</li>
                            <li> occasion: {{ trip.occasion }}</li>
                            <li> Weather: {{ trip.trip_weather }}</li>
                            <a href="{% url 'items' %}" style = "color: black;" ><li>List</li></a>
                            <br>
                            </ul>
                        {% endif %}
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'js/app.js' %}"></script>                                 
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD-VajPdA2hcwGdDkC0JHzjKq94MYi7tI&libraries=places&callback=autocompleteCallback"></script>
    </body>
</html>
