@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial';
}

.nav-bar {
    background-color: #404eed;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.logo-link:hover {
    cursor: pointer;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    list-style: none;
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: 15px;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sign-up-button {
    border-radius: 25px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 13px;
    padding-right: 13px;
    border: none;
    font-size: 15px;
}

.sign-up-button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
    transition: 0.4s;
}

.main {
    height: 100%;
    background-color: #404eed;
    color: white;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
}

.slogan {
    padding-left: 140px;
    padding-right: 140px;
}

.slogan-heading {
    margin-bottom: 35px;
    font-size: 53px;
    line-height: 60px;
}

.slogan-text {
    line-height: 33px;
}

#get-started-button {
    padding: 13px 35px;
    font-size: 18px;
    color: black;
}

h2 {
    margin-bottom: 40px;
}

.main-image-container {
    padding-top: 23px;
    padding-bottom: 70px;
    margin-right: 110px;
}

#astro-image {
    width: 95%;
    border-radius: 50%;
}

.bottom-container {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 200px;
    background-color: rgb(54, 54, 54);
}