{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Project394</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/generator-form.css' %}">
    </head>
    <body>
        <header class="nav-bar">
            <a href="{% url 'home' %}" class="logo-link"><h1 class="logo">Project394</h1></a>        
            <div class="nav-links">
                <ul>
                    <a href="{% url 'login' %}"><li>Login</li></a>
                </ul>
                <a href="{% url 'register' %}"><button class="sign-up-button">Sign Up</button></a>    
            </div>
        </header>
        <div class="main">
            <div class="slogan">
                <h1 class="slogan-heading">The Ultimate<br>Packing List</h1>
                <h2 class="slogan-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultrices neque ornare aenean euismod elementum nisi quis eleifend quam.
                </h2>
                <button class="sign-up-button" id="get-started-button" onclick="scrollToForm()">Get Started</button>                    
            </div>
            <div class="main-image-container">
                <img src="{% static 'img/blueAstronaut.jpg' %}" id="astro-image">
            </div>
        </div>
        <div class="bottom-container">
            <div class="form-container">
                <h1 class="form-heading">Be prepared for your next adventure</h1>
                <form action="{% url 'process_form' %}" method="post" class="generator-form">
                    {% csrf_token %}
                    {{ form.destination }}
                    {{ form.checkin }}
                    {{ form.checkout }}
                    {% if form.errors %}
                        <div class="form-error">
                            {{ form.errors }}
                        </div>
                    {% endif %}
                    <input type="submit" value="Submit" class="sign-up-button">
                </form>
            </div>
        </div>
        <footer>

        </footer>
        <script src="{% static 'js/app.js' %}"></script>                                 
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD-VajPdA2hcwGdDkC0JHzjKq94MYi7tI
                     &libraries=places&callback=initAutocomplete">
        </script>
    </body>
</html>