{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% csrf_token %}
        <title>Project394</title>
        <link rel="stylesheet" href="{% static 'css/items.css' %}">
        
    </head>
    <body>
<h1>hello</h1>
<table>
    <tr>
        <th>Clothing</th>
       
        <th>Description</th>
    
        <td>clothing</td>
  
        

    </tr>
    {% for i in Clothing %}
    
    <tr> 
        <td>{{ i.Clothing}}</td>
        
        <td>{{ i.description}}</td>
        
        
        <td>{{ i.occasion }}</td>
    </tr>
    {% endfor %}
    <table>
        <tr>
            <th>occasion</th>
           
            <th>Description</th>
        
            <td>col3</td>
      
            
    
        </tr>
        {% for x in occasion %}
        
        <tr> 
            <td>{{ x.occasion}}</td>
            
            <td>{{ x.description}}</td>
            
            
            <td>{{ x.occasion }}</td>
        </tr>
        {% endfor %}
    </body>
{% endblock %}