{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Login For the Ultimate Packing List</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}"> 

        <title>Google Icons</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <header class="nav-bar">
            <a href="{% url 'home' %}" class="logo-link"><h1 class="logo">Project394</h1></a>        
            <div class="nav-links">
                <ul>
                    <a href="{% url 'login' %}"><li>Login</li></a>
                </ul>
                <a href="{% url 'register' %}"><button class="sign-up-button">Sign Up</button></a>    
            </div>
        </header>
        <form method="POST" action="">
            <h1 class="login-text">Login for the Ultimate Packing List</h1>
            {% csrf_token %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <label for="username"></label>
            <i class="material-icons">person</i>
            <input type="text" name="username" id="username" placeholder="Username">
            <br>
            <label for="password"></label>
            <i class="material-icons">lock</i>
            <input type="password" name="password" id="password" placeholder="Password">
            <br>
            <input type="submit" value="Login">
            <p>Not registered yet? <a href="{% url 'register' %}" id="register-link">Click here to register</a></p>
        </form>
    </body>
</html>
