{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
    </head>
    <body>
        <form method="POST" action="">
            <h1>Sign up</h1>
            {% csrf_token %}
            {{form.username.label}}
            {{form.username}}

            {{form.email.label}}
            {{form.email}}

            {{form.password1.label}}
            {{form.password1}}

            {{form.password2.label}}
            {{form.password2}}
            
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <input type="submit" name="Create User">
        </form>
    </body>
</html>